{% extends 'utils/detail.html' %}
{% load static %}
{% block div_card-body %}
{% if object.editable %}
<h1>ESTE CARGO AUN NO SE USO EN ELECCIONES</h1>
{% else %}
  <h1>Este cargo no se puede editar</h1>
  <h3>Se utilizo en las siguientes elecciones:</h3>
  {% comment %}
    Revisar - Sera necesario un scroll
    https://www.w3schools.com/bootstrap4/bootstrap_scrollspy.asp
  {% endcomment %}
  {% for eleccion in object.eleccion_set.all %}
    <div class="list-group">
      <a href={% url eleccion.get_absolute_url %} class="list-group-item list-group-item-action">
        {{eleccion}}
      </a>
    </div>
  {% endfor %}
{% endif %}
{% endblock %}
{% comment %}
{% endcomment %}
