{% load static %}
<table class="mb-0 table table-bordered" id="data1">
  <thead>
    <tr>
      {% for th in thead_values %}<th>{{th}}</th>{% endfor %}
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      {% for value in object.get_field_values %}
      <td>{{value}}</td>
      {% endfor %}
      <td>
        <!--'Acción' cell-->
        {% block snippet_accion_table %}
        {% if snippet_accion_table %}
        {% include snippet_accion_table %}
        {% else %}
        {% include 'utils/snippets/snippet_accion_table.html' %}
        {% endif %}

        {% endblock %}
        <!--/'Acción' cell-->
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
