{% load static %}

  <!--'Acción' cell-->
  <div class="btn-group">
    <a class="btn btn-secondary" href={% url url_detalle object.id %} name="active">
      Ver</a>
    <a href={% url url_actualizar object.id %} class="btn btn-warning">
      Editar</a>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="object_id" value="{{object.id}}">
      <input type="hidden" name="active" value="{{object.active}}">
      {% if object.active %}
      <button type="submit" class="btn btn-danger">Desactivar</button>
      {% else %}
      <button type="submit" class="btn btn-success">Activar</button>
      {% endif %}
    </form>
  </div>
  <!--/'Acción' cell-->
