{% extends "utils/list.html" %}
{% load static %}


{% block card-header %}

<div class="card-header bg-light text-center">
  {#% include 'utils/snippets/new-act-deact.html' %#}
  <div role="group" class="btn-group">
    <a class='btn btn-primary' href="#">blablabla</a>
    <a class='btn btn-secondary' href="#">blablabla</a>
  </div>
</div>
{% endblock %}

{% block snippet_table %}
{% include 'gest_usuario/snippets/snippet_table_EC.html' %}
{% endblock %}

{% block snippet_no_objetc_list %}
{% include 'gest_usuario/snippets/no_objetc_list.html' %}
{% endblock %}

{% comment %}
{% endcomment %}
