{% extends "utils/list.html" %}
{% load static %}


{% block card-header %}
<form method="post">
  {% csrf_token %}
  <div class="card-header bg-light text-center bordered border-dark">
    {#% include 'utils/snippets/new-act-deact.html' %#}
    <h4 class="text-weight-bold">Listado de Electores sin Cuenta</h4>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-success">Generar Cuenta/s</button>
    </div>
  </div>
  {% endblock %}

  {% block snippet_table %}
  {% include 'gest_usuario/snippets/snippet_table.html' %}
</form>
{% endblock %}

{% block snippet_no_objetc_list %}
{% include 'gest_usuario/snippets/no_objetc_list.html' %}
{% endblock %}


{% block  script %}
<script>
  // Si se hace click sobre el input de tipo checkbox con id checkall_enabled
  $('#checkall_enabled').click(function() {
    // Si esta seleccionado (si la propiedad checked es igual a true)
    if ($(this).prop('checked')) {
      // Selecciona cada input que tenga la nombre .elector_enabled
      $('input[name$="elector_enabled"]').prop('checked', true);
    } else {
      // Deselecciona cada input que tenga la clase .checar
      $('input[name$="elector_enabled"]').prop('checked', false);
    }
  });
</script>
{% endblock %}
{% comment %}
{% endcomment %}