{% extends "base.html" %}
{% load static %}
<!--head-->
{% block link-script %}
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables-v1/datatables.min.css' %}">
  <script src="{% static 'DataTables-v1/jQuery-3.3.1/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'DataTables-v1/datatables.min.js'%}"></script>
{% endblock %}
<!-- ./head-->

{% block nav-items-izquierda %}
{% endblock %}

{% block dropdown-menu %}
{%endblock%}

{% block rows %}
<div class="row">
  <!-- Ultimas elecciones realizadas -->
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <h1>Ultimas elecciones realizadas</h1>
      </div>
      <div class="card-body">
        {% if cerradas %}
        {% comment %}  DATA TABLE DE {{cerradas}}  {% endcomment %}
        {% else %}
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h2 class="display-4">Aun no hay elecciones que completen la votación</h1>
              <p class="lead">. . .</p>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- ./Ultimas elecciones realizadas -->
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <h1>Proximas elecciones</h1>
      </div>
      <div class="card-body">
      {% if proximas %}
      {% comment %}DATA TABLE DE {{proximas}}{% endcomment %}
      {% else %}
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h2 class="display-4">Aun no hay elecciones proximas</h1>
            <p class="lead">. . .</p>
          </div>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
