{% extends "base.html" %}
{% load static %}
<!--head-->
{% block link-script %}
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables-v1/datatables.min.css' %}">
  <script src="{% static 'DataTables-v1/jQuery-3.3.1/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'DataTables-v1/datatables.min.js'%}"></script>
{% endblock %}
<!-- ./head-->

{% block nav-items-izquierda %}
{% endblock %}

{% block dropdown-menu %}
{%endblock%}

{% block rows %}
<div class="container-fluid">
<div class="row">
  <!-- Ultimas elecciones realizadas -->
  <div class="col-6 d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        Ultimas elecciones
      </div>
      <div class="card-body">
        {% if cerradas %}
        {% include 'bienvenida/snippets/snippet_table_bienvenida.html' with id_data='data1' object_list=cerradas.all %}
        {% else %}
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h2 class="display-4">Aun no hay elecciones que completen la votación</h1>
              <p class="lead">. . .</p>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- ./Ultimas elecciones realizadas -->

  <!-- Proximas elecciones -->
  <div class="col-6 d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        Proximas elecciones
      </div>
      <div class="card-body">
      {% if proximas %}
      {% include 'bienvenida/snippets/snippet_table_bienvenida.html' with id_data='data2' object_list=proximas.all %}
      {% comment %}DATA TABLE DE {{proximas}}
      {% endcomment %}
      {% else %}
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h2 class="display-4">Aun no hay elecciones proximas</h1>
            <p class="lead">. . .</p>
          </div>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
  <!-- ./Proximas elecciones -->
</div>
</div>
{% endblock %}

{% block  script_DataTable %}
<script>
  $(document).ready(function() {
    $('#data1').DataTable();
  });

  $(document).ready(function() {
    $('#data2').DataTable();
  });

</script>
{% endblock %}
