{% extends 'utils/detail.html' %}
{% load static %}
{% block div_card-body %}
<div class="card text-white m-1" style="background-color: rgb(51, 51, 51); border-color: rgb(51, 51, 51); width: 100%;">
  <div class="card-header font-weight-bold text-center">
    Candidatos postulados:
  </div>
  <div class="card-body text-body">
    <ul class="list-group">
  {% for candidato in object.candidatos.all %}
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <p class="font-weight-bold">{{candidato.full_name}}</p>
        <p class="font-weight-bold text-info">ID Nro {{candidato.pk}}</p>
      </div>
    </li>
  {% endfor %}
  {% include 'bienvenida/snippets/snippet_consultar_padron.html' %}
</ul>
</div>
</div>
{% endblock %}

{% block news_rows %}
<div class="container-fluid bg-dark">
<div class="card bg-light text-body mb-2">
  <div class="card-header">Detalles del padron</div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item text-body h5">
        Electores empadronados: {{padron.empadronados}}
      </li>
      <li class="list-group-item text-dark h5">
        Asistencias: {{padron.presentes}} sufragios _ {{padron.presentes_por_cien}}% del padrón
      </li>
      <li class="list-group-item text-dark h5">
        Ausencias: {{padron.ausentes}} _ {{padron.ausentes_por_cien}}% del padrón
      </li>
      <li class="list-group-item text-dark h5">
        Cierre de terminal de votación: {{urna.hora_cierre}}hs
      </li>
    </ul>
  </div>
  <div class="card-footer"></div>
</div>
</div>
{% endblock %}
{% comment %}
{% endcomment %}
