{% extends 'utils/detail.html' %}
{% load static %}
{% block div_card-body %}
  <h1>Candidatos postulados:</h1>
  {% for candidato in object.candidatos.all %}
    <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="widget-content p-0">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading h4">{{candidato.full_name}}</div>
                        <div class="widget-subheading"> . . . Alguna leyenda, slogan, etc.. </div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-primary">ID Nro{{candidato.pk}}</div>
                    </div>
                </div>
            </div>
        </div>
    </li>
  </ul>
  {% endfor %}

{% endblock %}
{% comment %}
{% endcomment %}
