{% extends 'utils/detail.html' %}
{% load static %}
{% block div_card-body %}

<div class="card text-white m-1" style="background-color: rgb(51, 51, 51); border-color: rgb(51, 51, 51); width: 100%;">
  <div class="card-header font-weight-bold text-center">
    Candidatos postulados: {{object.candidatos.count}}
  </div>
  <div class="card-body text-body">
  <ul class="list-group">
  {% for candidato in object.candidatos.all %}
    <li class="list-group-item mt-1">
      <div class="d-flex justify-content-between">
        <p class="font-weight-bold">{{candidato.full_name}}</p>
        <p class="font-weight-bold text-info">ID Nro {{candidato.pk}}</p>
      </div>
    </li>
  {% endfor %}
  {% include 'bienvenida/snippets/snippet_consultar_padron.html' %}
</ul>
</div>
</div>

{% endblock %}
{% comment %}
{% endcomment %}
