{% extends 'utils/detail.html' %}
{% load static %}

{% block container-fluid %}
<div class="card text-white">
  <div class="card-header" style="background-color: rgb(51, 51, 51); border-color: rgb(51, 51, 51);">
    <a class='m-2 btn-transition btn btn-outline-light btn-block' href="{{object.get_absolute_url}}">
      <b>Volver a Elección</b>
    </a>
  </div>
  <div class="card-body text-dark">
    <div class="row mt-2">
      <!-- CANDIDATOS-->
      <div class="col">
        <div class="card bordered border-dark">
          {% if candidatos %}
            <div class="card-header">
              <p class="font-weight-bold">Candidatos</p>
            </div>
            <form method="post">
              {% csrf_token %}
            <div class="card-body">
              <div class="table-responsive">
                {% include 'gest_preparacion/snippets/snippet_table_candidato.html' with id_data='data1' snippet_accion_table='gest_preparacion/snippets/snippet_accion_table_candidatos.html' object_list=candidatos %}
              </div>
            </div>
            </form>
            <div class="card-footer">
            </div>
          {% else %}
          <div class="card-body">
            <div class="jumbotron jumbotron-fluid bg-warning">
              <div class="container">
                <h2 class="display-4">No hay candidatos</h2>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <!-- ./CANDIDATOS-->

      <!-- DIPONIBLES-->
      <div class="col">
        <div class="card bordered border-dark">
          {% if disponibles %}
          <div class="card-header">
            <p class="font-weight-bold">TABLA DIPONIBLES</p>
          </div>
          <form method="post">
            {% csrf_token %}
          <div class="card-body">
            <div class="table-responsive">
            {% include 'gest_preparacion/snippets/snippet_table_candidato.html' with id_data='data2' snippet_accion_table='gest_preparacion/snippets/snippet_accion_table_disponibles.html' object_list=disponibles %}
            </div>
          </div>
          </form>
          <div class="card-footer">
          </div>
          {% else %}
          <div class="card-body">
            <div class="jumbotron jumbotron-fluid bg-warning">
              <div class="container">
                <h2 class="display-4">NO HAY ELECTORES PARA POSTULAR</h2>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <!-- ./DIPONIBLES-->
    </div>

  </div>

</div>
{% endblock %}

{% block  lib_DataTables %}
<script src="{% static '/DataTables/datatables.min.js' %}"></script>
{% endblock %}

{% block  script_DataTable %}
<script>
  $(document).ready(function() {
    $('#data1').DataTable();
  });

  $(document).ready(function() {
    $('#data2').DataTable();
  });
</script>
{% endblock %}
