{% extends 'utils/detail.html' %}
{% load static %}

{% block container-fluid %}
<div class="card text-white border border-dark mt-2">
  <div class="card-header" style="background-color: rgb(51, 51, 51);">
    <a class='m-2 btn-transition btn btn-outline-light btn-block' href="{{object.eleccion.get_absolute_url}}">
      <b>
        Volver a Elección
      </b>
    </a>
  </div>
  <div class="card-body text-dark">
    <div class="row mt-2">
      <div class="col">
        <div class="card border-dark" style="height: 100%; weight: 100%">
          <div class="card-header bg-dark text-white text-center">
            <p class="font-weight-bold">Autoridad Designada</p>
          </div>
          {% if object.cuenta %}
            <div class="card-body border border-dark">
              <li class="list-group-item text-body d-flex justify-content-around rounded border border-info mt-1">
                <h2>Usuario:</h2> <h2><b>{{object.cuenta}}</b></h2>
              </li>
            </div>
          <div class="card-footer bg-dark"></div>
          {% else %}
          <div class="card-body">
            <div class="jumbotron jumbotron-fluid bg-warning">
              <div class="container">
                <h2 class="display-4">No Hay Autoridad Designada</h2>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <!-- ./ELECTORES DEL PADRON -->

      <!-- NO INCLUIDOS-->
      <div class="col">
        <div class="card border-dark" style="height: 100%; weight: 100%">
          {% if staff_list %}
          <div class="card-header d-flex justify-content-around">
            <p class="font-weight-bold">Staff disponibles</p>
          </div>
          <div class="card-body bg-dark">
            <ul class="list-group">
              <form method="post">
                {% csrf_token %}
                {% for staff in staff_list %}
                <li class="list-group-item text-body d-flex justify-content-around rounded mt-1">
                  <button type="submit" name="staff-btn" value='{{staff.id}}' class='btn btn-primary'>Designar</button>
                  <p class="font-weight-bold">{{staff}}</p>
                </li>
                {% endfor %}
              </form>
            </ul>
          </div>
          <div class="card-footer">
          </div>
          {% else %}
          <div class="card-body">
            <div class="jumbotron jumbotron-fluid bg-warning">
              <div class="container">
                <h2 class="display-4">No Hay Staff</h2>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <!-- ./NO INCLUIDOS-->
    </div>
  </div>
  <div class="card-footer bg-dark"></div>
</div>
{% endblock %}

{% comment %}
{% endcomment %}
