{% extends 'utils/detail.html' %}
{% load static %}
<!--head-->
{% block link-script %}
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables-v1/datatables.min.css' %}">
  <script src="{% static 'DataTables-v1/jQuery-3.3.1/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'DataTables-v1/datatables.min.js'%}"></script>
{% endblock %}
<!-- ./head-->

<!--body-->
{% block rows %}
{% block div_card-body %}
<div class="card card-body" style="background-color: rgb(51, 51, 51) border-color: rgb(51, 51, 51);">
  <div class="row">
    <div class="container mb-3">
      <a class='mb-2 mr-2 btn-transition btn btn-outline-secondary btn-block' href="{{object.eleccion.get_absolute_url}}">
        <b>Ir a Elección</b>
      </a>
    </div>
  </div>
  <div class="row">
    <!--INCLUIDOS-->
    <div class="col-6 card">
      {% if object.electores.all %}
      <form method="post">
        {% csrf_token %}
      <div class="card-header bg-light justify-content-around">
        <h5 class="card-title">TABLA INCLUIDOS</h5>
        <button type="submit" name="button" value='quitar' class='btn btn-danger'>Quitar</button>
      </div>
      <div class="card-body">
        {% include 'gest_preparacion/snippets/snippet_table_padron.html' with id_data='data1' id_checkall='incluidos' object_list=object.electores.all name_imput='incluidos' %}
      </div>
      <div class="card-footer">
        <p>. . .</p>
      </div>
      </form>
      {% else %}
      <div class="card-body bg-warning">
        <h1>EL PADRON ESTA VACIO</h1>
      </div>
      {% endif %}
    </div>
    <!-- ./INCLUIDOS-->
    <!--NO INCLUIDOS-->
    <div class="col-6 card">
      {% if no_incluidos.all %}
      <form method="post">
        {% csrf_token %}
      <div class="card-header bg-light justify-content-around">
        <h5 class="card-title">TABLA NO INCLUIDOS</h5>
        <button type="submit" name="button" value='agregar' class='btn btn-primary'>Agregar</button>
      </div>
      <div class="card-body">
        {% include 'gest_preparacion/snippets/snippet_table_padron.html' with id_data='data2' id_checkall='no_incluidos' object_list=no_incluidos.all name_imput='no_incluidos' %}
      </div>
      <div class="card-footer">
        <p>. . .</p>
        </form>
      </div>
      {% else %}
      <div class="card-header">
      </div>
      <div class="card-body bg-warning">
        <h1>TODO LOS ELECTORES ESTAN EN EL PADRON</h1>
      </div>
      <div class="card-footer">
        <p>. . .</p>
      </div>
      {% endif %}
    </div>
    <!-- ./NO INCLUIDOS-->
  </div>
</div>
{% endblock %}
{% endblock %}

{% block  script_DataTable %}
<script>
  $(document).ready(function() {
    $('#data1').DataTable();
  });

  $(document).ready(function() {
    $('#data2').DataTable();
  });

  // Si se hace click sobre el input de tipo checkbox con id checkall_enabled
  $('#no_incluidos').click(function() {
      // Si esta seleccionado (si la propiedad checked es igual a true)
      if ($(this).prop('checked')) {
          // Selecciona cada input que tenga la nombre .elector_enabled
          $('input[name$="no_incluidos"]').prop('checked', true);
      } else {
          // Deselecciona cada input que tenga la clase .checar
          $('input[name$="no_incluidos"]').prop('checked', false);
      }
  });

  // Si se hace click sobre el input de tipo checkbox con id checkall_enabled
  $('#incluidos').click(function() {
      // Si esta seleccionado (si la propiedad checked es igual a true)
      if ($(this).prop('checked')) {
          // Selecciona cada input que tenga la nombre .elector_enabled
          $('input[name$="incluidos"]').prop('checked', true);
      } else {
          // Deselecciona cada input que tenga la clase .checar
          $('input[name$="incluidos"]').prop('checked', false);
      }
  });
</script>
{% endblock %}
<!-- ./body-->
{% comment %}
{% endcomment %}
