{% load static %}
<div class="widget-content p-0">
  <div class="widget-content-outer">
    <div class="widget-content-wrapper">
      <div class="widget-content-left">
        {% if candidato %}
        <div class="widget-heading text-dark">
          <a class='text-dark' href="{% url 'gest_preparacion:adm-candidato' object.id %}">
            Administrar candidatos #
          </a>
        </div>
        <div class="widget-subheading">
          <b>Total de candidatos postulados: {{candidato}}. {% if candidato < 2 %}Se necesita, almenos dos candidatos{% endif %}</b>
        </div>
        {% else %}
        <div class="widget-heading text-dark">
          <a class='text-dark' href="{% url 'gest_preparacion:adm-candidato' object.id %}">
            >> NO HAY CANDIDATOS POSTULADOS >> POSTULAR
          </a>
        </div>
        <div class="widget-subheading text-danger">
          <b>Se necesita, almenos dos candidatos</b>
        </div>
        {% endif %}
      </div>
      <div class="widget-content-right">
      </div>
    </div>
  </div>
</div>
