{% load static %}
<div class="widget-content p-0">
  <div class="widget-content-outer">
    <div class="widget-content-wrapper">
      <div class="widget-content-left">
        <div class="widget-heading">
          <a class='text-dark' href='{{object.cargo.get_absolute_url}}'>
            Consultar información del cargo: #{{object.cargo.pk}} _ {{object.cargo}}
          </a>
        </div>
        <div class="widget-subheading"></div>
      </div>
      <div class="widget-content-right">

      </div>
    </div>
  </div>
</div>
