{% extends "base.html" %}

{% block container-fluid %}
<h1>Si es autoridad de mesa o candidato, podra...</h1>
<div class="d-flex flex-row">
  <div class="card bg-light border-dark m-1" style="width: 100%;">
    <div class="card-header bg-dark text-white">Inicializar clave de Cifrado</div>
    <div class="card-body">
      {% if programadas %}
      <ul class="list-group">
        {% for object in  programadas.all %}
        <li class="list-group-item text-dark">
          <a href="{{object.get_cifrado_url}}"><b>{{object}}</b></a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <h1>NO HAY ELECCIONES PROGRAMADAS</h1>
      {% endif %}
      <p>...</p>
    </div>
    <div class="card-footer bg-dark"></div>
  </div>

  <div class="card bg-light border-dark m-1" style="width: 100%;">
    <div class="card-header bg-dark text-white">Inicializar clave de Descifrado</div>
    <div class="card-body">
      <h5 class="card-title">Para elecciones en etapa de recuento iniciado</h5>
      <p>Es decir, para aquellas elecciones que finalizaron la votación y se solicito el inicio del recuento.</p>
      {% if cerradas %}
      <ul class="list-group">
        {% for object in  cerradas.all %}
        <li class="list-group-item text-dark">
          <a href="{{object.get_descifrado_url}}"><b>{{object}}</b></a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <h1>NO HAY ELECCIONES CERRADAS</h1>
      {% endif %}
      <p>...</p>
    </div>
    <div class="card-footer bg-dark"></div>
  </div>
</div>

{% endblock %}
