{% extends "base.html" %}

{% block container-fluid %}


<div class="card">
  <div class="card-header h4 text-body font-weight-bold text-center">
    Es usted Candidato o Autoridad de mesa???
  </div>
  <form method="post">
    {% csrf_token %}
  <div class="card-body d-flex justify-content-between">
        <button type="submit" name="btn" value='candidato' class='btn btn-primary border border-dark'>
          Soy Candidato
        </button>
        <button type="submit" name="btn" value='autoridad' class='btn btn-primary border border-dark'>
          Soy Autoridad de mesa
        </button>
  </div>
</form>
<div class="card-footer my-4">

</div>
</div>
{% endblock %}
