{% load static %}
{% load extras %}

<!DOCTYPE html>
<html lang="es">

<head>
  <title>{% block title %}SisElecc{% endblock %}</title>
  <!--Head META-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!---->

  <!---->
  <link href="{% static '/bootstrap-4.6.0/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/DataTables/datatables.min.css' %}" rel="stylesheet">
  {% block link-script %}{% endblock %}
  <!---->
</head>

<body>

  {% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    <!-- LOGO-->
    <a class="navbar-brand" href="{% url 'bienvenida:bienvenida' %}"><b>SisElecc</b></a>
    <!-- ./LOGO-->
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navb">
      <!-- Gestores-->
      {% if not user.cuentaelector %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">
            Gestor de Elección</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'gest_preparacion:agregar' %}">Nuevo Registro</a>
            <a class="dropdown-item" href="{% url 'gest_preparacion:listado' %}">Listado</a>
            <a class="dropdown-item" href="#">Resumen</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">
            Gestor de Cargos</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'gest_cargo:agregar' %}">Nuevo Registro</a>
            <a class="dropdown-item" href="{% url 'gest_cargo:listado' %}">Listado</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">
            Gestor de Electores</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'gest_elector:agregar' %}">Nuevo Registro</a>
            <a class="dropdown-item" href="{% url 'gest_elector:listado' %}">Listado</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">
            Gestor de UsuariosE</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'gest_usuario:gen-cu-elector' %}">Generar Cuenta</a>
            <a class="dropdown-item" href="{% url 'gest_usuario:cuenta-elector' %}">Listado</a>
          </div>
        </li>
      </ul>
      {% endif %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item border-light">
          <a class="nav-link text-white" href="{% url 'gest_cifrado:gest_cifrado' %}">
            Gestor de Cifrados</a>
        </li>
      </ul>
      <!-- ./Gestores-->
      <!-- ***************** -->
      <!-- Login-->
      <!-- ./Login-->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
            <b>{{user}}</b>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="{% url 'gest_usuario:logout' %}">Cerrar Sesión</a>
          </div>
        </li>
      </ul>
      <!-- ./Login-->
      <!-- ***************** -->
    </div>
    {% else %}
    <div class="collapse navbar-collapse justify-content-end" id="navb">
    <ul class="navbar-nav mr-2">
      <li class="nav-item">
          <a class="nav-link btn btn-light text-body mr-md-2" href="{% url 'gest_usuario:login' %}">
          <b>Iniciar Sesión</b>
        </a>
      </li>
    </ul>
    </div>
    {% endif %}
  </nav>
  {% endblock %}
  <div class="container-fluid mb-5">
    {% block container-fluid %}
      <div class="row">
      <div class="col-sm-4">
        <h3>Column 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
    {% endblock %}
  </div>

<!-- Footer-->
<div class="jumbotron text-center mt-5" style="background-color: rgb(51, 51, 51);">
  <div class="d-flex justify-content-around">
    <span><a href="#" class="font-weight-bold text-light">UNSE</a></span>
    <span><a href="#" class="font-weight-bold text-light">FCyT</a></span>
    <span><a href="#" class="font-weight-bold text-light">Tutorial</a></span>
    <span><a href="{% url 'gest_votacion:ini-urna' %}" class="font-weight-bold text-light">ini-u / staff</a></span>
  </div>
</div>
<!-- ./Footer-->

<!-- Scripts-->
<script src="{% static '/bootstrap-4.6.0/site/static/docs/4.6/assets/js/vendor/jquery.slim.min.js' %}"></script>
<script src="{% static '/bootstrap-4.6.0/dist/js/bootstrap.min.js' %}"></script>
{% block  lib_DataTables %}

{% endblock %}
{% block  script_DataTable %}
{% endblock %}
{% block  script %}{% endblock %}
<!-- ./Scripts-->
</body>
</html>
