{% extends "base.html" %}
{% load static %}

<!--head-->
{% block title %}{{title}}{% endblock %}
<!-- ./head-->


<!--body-->
{% block container-fluid %}
<div class="d-flex justify-content-around bg-light p-3 my-3">
  <div class="card text-white" style="background-color: rgb(51, 51, 51); border-color: rgb(51, 51, 51);">
    <div class="card-header">
      <h5 class="text-white font-weight-bold card-title">DETALLES</h5>
    </div>
    <div class="card-body">
      <ul class="list-group">
        {% for tuple in object.get_detali_info %}
        <li class="list-group-item text-dark text-justify">
          <b>{{tuple.0}}:</b> {{tuple.1}}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-footer">
      <div role="group" class="btn-group px-4">
      {% if snippet_accion_detail %}
      {% include snippet_accion_detail %}
      {% else %}
      {% include 'utils/snippets/snippet_accion_detail.html' %}
      {% endif %}
    </div>
    </div>
  </div>
  {% block div_card-body %}
    <div class="card">
      <div class="text-white card-body" style="background-color: rgb(51, 51, 51); border-color: rgb(51, 51, 51);">
        <h5 class="text-white card-title">Special Title Treatment</h5>
        With supporting text below as a natural lead-in to additional content.
    </div>
    </div>
  {% endblock %}
</div>
{% endblock %}

<!-- ./body-->
