{% extends "base.html" %}
{% load static %}

<!--head-->
{% block title %}{{title}}{% endblock %}
<!-- ./head-->


<!--body-->
{% block page-title-heading %}
{{page_title_heading}}
{% endblock %}


{% block rows %}
<div class="row">
  <div class="col">
    <div class="mb-3 card text-white card-body" style="background-color: rgb(51, 51, 51); border-color: rgb(51, 51, 51);">
    <h5 class="text-white card-title">DETALLES</h5>
    <ul class="list-group">
      {% for tuple in object.get_detali_info %}
      <li class="list-group-item text-dark">
        {{tuple.0}}: <b>{{tuple.1}}</b>
      </li>
      {% endfor %}
    </ul>
    <div class="text-center mt-3">
      <div role="group" class="btn-group">
        {% if snippet_accion_detail %}
        {% include snippet_accion_detail %}
        {% else %}
        {% include 'utils/snippets/snippet_accion_detail.html' %}
        {% endif %}
      </div>
    </div>

  </div>
  </div>
  <div class="col">
  {% block div_card-body %}
  <div class="col mb-3 card text-white card-body" style="background-color: rgb(51, 51, 51); border-color: rgb(51, 51, 51);">
    <h5 class="text-white card-title">Special Title Treatment</h5>
    With supporting text below as a natural lead-in to additional content.
  </div>
  </div>
</div>
{% endblock %}
{% endblock %}


<!-- ./body-->
