{% extends "base.html" %}
{% load static %}

<!--head-->
{% block title %}{{title}}{% endblock %}

{% block link-script %}
{% endblock %}
<!-- ./head-->

<!--___________________________________________________________________________________-->

<!--body-->
{% block container-fluid %}
{% if object_list %}
<div class="card bg-light m-3 border border-dark rounded">
  {% block card-header %}
  <div class="card-header">
    {% include 'utils/snippets/new-act-deact.html' %}
  </div>
  {% endblock %}
  <div class="card-body">
    <div class="table-responsive">
      {% block snippet_table %}
      {% include 'utils/snippets/snippet_table.html' %}
      {% endblock %}
    </div>
  </div>
  <div class="card-footer bg-dark p-3">
  </div>
</div>
</div>
{% else %}
{% block snippet_no_objetc_list %}
  {% include 'utils/snippets/no_objetc_list.html' %}
{% endblock %}
{% endif %}
{% endblock %}

{% block  lib_DataTables %}
<script src="{% static '/DataTables/datatables.min.js' %}"></script>
{% endblock %}

{% block  script_DataTable %}
<script>
$(document).ready( function () {
  $('#data1').DataTable({
      {% include 'utils/snippets/language_datatables.html' %}
    });
} );
</script>
{% endblock %}
<!-- ./body-->
