{% load static %}
<table class="mb-0 table table-bordered" id="{{id_data}}">
  <!--thead-->
  <thead>
    <tr>
      {% for th in thead_values %}<th>{{th}}</th>{% endfor %}
    </tr>
  </thead>
  <!-- ./thead-->

  <!--body-->
  <tbody>
    {% for object in object_list %}
    <tr>
      {% for value in object.get_field_values_bienvenida %}
      <td>{{value}}</td>
      {% endfor %}
      <td>
        {% if object.etapa == 6 %}
        <a class="btn btn-success" href={{object.get_resultado_url}}>Ver Resultado</a>
        {% else %}
        <a class="btn btn-primary" href={{object.get_cerrada_url}}>Ver Detalles</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <!-- ./body-->
</table>
