<div class="card m-5 border border-dark">
  <!--card-header-->
  <div class="card-header d-flex justify-content-center">
    <h1>Listado</h1>
  </div>
  <!-- ./card-header-->
  <!--card-body-->
  <div class="card-body d-flex justify-content-center my-2">
    <br>
    <h2>{{message_no_queryset}}</h2>
  </div>
  <div class="card-footer d-flex justify-content-around">
    <a href="{% url url_listado_CE %}" class="btn btn-lg btn-primary border border-dark">
      Listado de Cuentas de Electores
    </a>
    <a href="{% url url_listado_E %}" class="btn btn-lg btn-secondary border border-dark">
      Listado de Elector Registrados
    </a>
  </div>
  <!-- ./card-body-->
</div>