{% load static %}
<table class="mb-0 table table-bordered" id="data1">
  <!--thead-->
  <thead>
    <tr>
      {% for th in thead_values %}<th>{{th}}</th>{% endfor %}
    </tr>
  </thead>
  <!-- ./thead-->

  <!--body-->
  <tbody>
    {% for object in object_list %}
    <tr>
      {% for value in object.get_field_values_cuenta %}
      <td>{{value}}</td>
      {% endfor %}
    <td class="text-center">
      <a class='btn btn-primary' href={{object.elector.get_absolute_url}}>Ver</a>
    </td>
    </tr>
    {% endfor %}
  </tbody>
  <!-- ./body-->
</table>
