{% extends 'utils/detail.html' %}
{% load static %}

{% block navbar %}
<div class="my-4">

</div>
{% endblock %}

{% block container-fluid %}
<form method="post">
  {% csrf_token %}
  <div class="container-fluid">
    <div class="card border border-dark">
      <div class="card-header bg-white text-primary text-center mt-2">
        <h1><b>Id #{{object.id}}</b></h1>
      </div>
      <div class="card-body bg-dark">
        <div class="container-fluid">
        <ul class="list-group">
          <li class="list-group-item"><h4>{{object.elector.dni}}</h4></li>
          <li class="list-group-item"><h4>{{object.elector.full_names}}</h4></li>
        </ul>
        </div>
      </div>
      <div class="card-footer bg-light mb-3">

        <div class="container-fluid mt-2">
          {% if estado_urna == 1 %}
          <button type="submit" name="btn" class='btn btn-primary btn-block btn-lg'><h4><b>Autorizar</b></h4></button>
          <a href='{{mesa.get_absolute_url_mesa_ope}}' class='btn btn-danger btn-lg btn-block'><h4><b>Cancelar</b></h4></a>
          {% else %}
          <button type="submit" name="btn" class='btn btn-success btn-block btn-lg'>
            <h4><b>Retirar</b></h4></button>
          {% endif %}
        </div>
        </div>
    </div>
  </div>

</form>

{% endblock %}
{% comment %}
{% endcomment %}
