{% extends 'utils/detail.html' %}
{% load static %}

{% block rows %}
{% block div_card-body %}
<form method='post'>
  {% csrf_token %}
  <div class="form-group">
    <label>Clave</label>
    <input type="password" name='clave' class="form-control" required>
  </div>
  <div class="form-group">
    <label>Color</label>
    <select name="color" class="form-control" id="id_color">
      <option value="23">Verde</option>
      <option value="13">Azul</option>
      <option value="12">Rojo</option>
    </select>
  </div>
  <div class="form-group">
    <label>Elección</label>
    <select name="eleccion" class="form-control" id="id_urna">
      {% for mesa in mesas %}
        <option value={{mesa.urna.id}}>{{mesa.eleccion}}</option>
      {% endfor %}

    </select>
  </div>
  <button type="submit" class="btn btn-primary">Iniciar</button>
</form>
{% endblock %}
{% endblock %}

{% comment %}
{% endcomment %}
